@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #296ca8;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.filter-container {
  margin-top: 20px;
  width: 80vw;
  max-width: 800px;
}

.filter {
  width: 100%;
  padding: 12px;
}

.post {
  background-color: #4992d3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  width: 80vw;
  max-width: 800px;
  padding: 20px;
  margin: 40px 0;
  display: flex;
  position: relative;
}

.post .post-title {
  margin: 0;
}

.post .post-body {
  margin: 15px 0 0;
  line-height: 1.4;
}

.post .post-info {
  margin-left: 20px;
}

.post .number {
  position: absolute;
  top: -15px;
  left: -15px;
  height: 40px;
  width: 40px;
  color: #296ca8;
  background-color: #fff;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
}

.loader {
  /* opacity: 0; */
  position: fixed;
  bottom: 50px;
  display: flex;
  transition: opacity 0.4s ease-in;
}

